
<script type="text/javascript">
  document.getElementById("examples_tab").className = "active";
</script>

<h3>Example Proteins</h3>

<b><u>PDB ID:</b></u>  1J3H <br>
<b><u>Reference:</b></u>  Akamine, Pearl, et al. "Dynamic features of cAMP-dependent protein kinase revealed by apoenzyme crystal structure." Journal of molecular biology 327.1 (2003): 159-171.<br>
<b><u>Full Protein Name:</b></u>  Catalytic subunit of cAMP-dependent protein kinase <br>
<b><u>Brief Biological Description:</b></u>  Kinases constitute a diverse family of enzymes that are responsible for phosphorylating key regulatory sites in target proteins. For the protein shown here, binding to cyclic adenosine monophosphate (cAMP) results in freeing and activation of the catalytic subunit (shown here), which is capable of acting on target proteins.<br><br>
<div class="row">
    <div class="col-md-6">
        <b><u>Surface-critical residues:</b></u> <a href="/surface_output_example_files/1j3h__SURFACE_CRITICAL_residues.dat" download>Download</a><br>
        <%= image_tag '1j3h_SURFACE_CRITICAL.jpg', class: "example-visualization" %>
    </div>
    <div class="col-md-6">
        <b><u>Interior-critical residues:</b></u> <a href="/interior_output_example_files/1j3h__INTERIOR_CRITICAL_residues.txt" download>Download</a><br>
        <%= image_tag '1j3h_INTERIOR_CRITICAL.jpg', class: "example-visualization" %>
    </div>
</div>
<br>

<b><u>PDB ID:</b></u>  1XTT <br>
<b><u>Reference:</b></u>  Arent, Susan, et al. "Allosteric regulation and communication between subunits in uracil phosphoribosyltransferase from Sulfolobus solfataricus." Biochemistry 44.3 (2005): 883-892.<br>
<b><u>Full Protein Name:</b></u>  Uracil phosphoribosyltransferase<br>
<b><u>Brief Biological Description:</b></u>  In order to conserve energy and resources, many organisms employ "salvage pathways" to generate nucleotides starting from similar compounds, rather than building the nucleotides from scratch. Uracil phosphoribosyltransferase is an key enzyme responsible in such a pathway for generating uridine monophosphate<br><br>
<div class="row">
    <div class="col-md-6">
        <b><u>Surface-critical residues:</b></u> <a href="/surface_output_example_files/1xtt__SURFACE_CRITICAL_residues.dat" download>Download</a><br>
        <%= image_tag '1xtt_SURFACE_CRITICAL.jpg', class: "example-visualization" %>
    </div>
    <div class="col-md-6">
        <b><u>Interior-critical residues:</b></u> <a href="/interior_output_example_files/1xtt__INTERIOR_CRITICAL_residues.txt" download>Download</a><br>
        <%= image_tag '1xtt_INTERIOR_CRITICAL.jpg', class: "example-visualization" %>
    </div>
</div>
<br>

<b><u>PDB ID:</b></u>  4AKE<br>
<b><u>Reference:</b></u>  Müller, C. W., et al. "Adenylate kinase motions during catalysis: an energetic counterweight balancing substrate binding." Structure 4.2 (1996): 147-156.<br>
<b><u>Full Protein Name:</b></u>  Adenylate kinase<br>
<b><u>Brief Biological Description:</b></u>  This protein catalyzes the conversion of nucleoside monophosphate to nucleoside diphosphate. The apo form of the enzyme is shown here.<br><br>
<div class="row">
    <div class="col-md-6">
        <b><u>Surface-critical residues:</b></u> <a href="/surface_output_example_files/4ake__SURFACE_CRITICAL_residues.dat" download>Download</a><br>
        <%= image_tag '4ake_SURFACE_CRITICAL.jpg', class: "example-visualization" %>
    </div>
    <div class="col-md-6">
        <b><u>Interior-critical residues:</b></u> <a href="/interior_output_example_files/4ake__INTERIOR_CRITICAL_residues.txt" download>Download</a><br>
        <%= image_tag '4ake_INTERIOR_CRITICAL.jpg', class: "example-visualization" %>
    </div>
</div>
<br>